In [2]:
!pip install -q pyspark==3.5.1
from pyspark.sql import SparkSession, functions as F, Window
from pyspark.sql.types import IntegerType, StringType, StructType, StructField, FloatType
from pyspark.ml.feature import StringIndexer, VectorAssembler
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

spark = (SparkSession.builder.appName("ColabSparkAdvancedTutorial")
         .master("local[*]")
         .config("spark.sql.shuffle.partitions", "4")
         .getOrCreate())
print("Spark version:", spark.version)

data = [
    (1, "Alice", "IN", "2025-10-01", 56000.0, "premium"),
    (2, "Bob", "US", "2025-10-03", 43000.0, "standard"),
    (3, "Carlos", "IN", "2025-09-27", 72000.0, "premium"),
    (4, "Diana", "UK", "2025-09-30", 39000.0, "standard"),
    (5, "Esha", "IN", "2025-10-02", 85000.0, "premium"),
    (6, "Farid", "AE", "2025-10-02", 31000.0, "basic"),
    (7, "Gita", "IN", "2025-09-29", 46000.0, "standard"),
    (8, "Hassan", "PK", "2025-10-01", 52000.0, "premium"),
]
schema = StructType([
    StructField("id", IntegerType(), False),
    StructField("name", StringType(), True),
    StructField("country", StringType(), True),
    StructField("signup_date", StringType(), True),
    StructField("income", FloatType(), True),
    StructField("plan", StringType(), True),
])
df = spark.createDataFrame(data, schema)
df.show()

Spark version: 3.5.1
+---+------+-------+-----------+-------+--------+
| id|  name|country|signup_date| income|    plan|
+---+------+-------+-----------+-------+--------+
|  1| Alice|     IN| 2025-10-01|56000.0| premium|
|  2|   Bob|     US| 2025-10-03|43000.0|standard|
|  3|Carlos|     IN| 2025-09-27|72000.0| premium|
|  4| Diana|     UK| 2025-09-30|39000.0|standard|
|  5|  Esha|     IN| 2025-10-02|85000.0| premium|
|  6| Farid|     AE| 2025-10-02|31000.0|   basic|
|  7|  Gita|     IN| 2025-09-29|46000.0|standard|
|  8|Hassan|     PK| 2025-10-01|52000.0| premium|
+---+------+-------+-----------+-------+--------+

In [3]:
df2 = (df.withColumn("signup_ts", F.to_timestamp("signup_date"))
         .withColumn("year", F.year("signup_ts"))
         .withColumn("month", F.month("signup_ts"))
         .withColumn("is_india", (F.col("country") == "IN").cast("int")))
df2.show()

df2.createOrReplaceTempView("users")
spark.sql("""
SELECT country, COUNT(*) AS cnt, AVG(income) AS avg_income
FROM users
GROUP BY country
ORDER BY cnt DESC
""").show()

w = Window.partitionBy("country").orderBy(F.col("income").desc())
df_ranked = df2.withColumn("income_rank_in_country", F.rank().over(w))
df_ranked.show()

def plan_priority(plan):
    if plan == "premium": return 3
    if plan == "standard": return 2
    if plan == "basic": return 1
    return 0
plan_priority_udf = F.udf(plan_priority, IntegerType())
df_udf = df_ranked.withColumn("plan_priority", plan_priority_udf(F.col("plan")))
df_udf.show()

+---+------+-------+-----------+-------+--------+-------------------+----+-----+--------+
| id|  name|country|signup_date| income|    plan|          signup_ts|year|month|is_india|
+---+------+-------+-----------+-------+--------+-------------------+----+-----+--------+
|  1| Alice|     IN| 2025-10-01|56000.0| premium|2025-10-01 00:00:00|2025|   10|       1|
|  2|   Bob|     US| 2025-10-03|43000.0|standard|2025-10-03 00:00:00|2025|   10|       0|
|  3|Carlos|     IN| 2025-09-27|72000.0| premium|2025-09-27 00:00:00|2025|    9|       1|
|  4| Diana|     UK| 2025-09-30|39000.0|standard|2025-09-30 00:00:00|2025|    9|       0|
|  5|  Esha|     IN| 2025-10-02|85000.0| premium|2025-10-02 00:00:00|2025|   10|       1|
|  6| Farid|     AE| 2025-10-02|31000.0|   basic|2025-10-02 00:00:00|2025|   10|       0|
|  7|  Gita|     IN| 2025-09-29|46000.0|standard|2025-09-29 00:00:00|2025|    9|       1|
|  8|Hassan|     PK| 2025-10-01|52000.0| premium|2025-10-01 00:00:00|2025|   10|       0|
+---+------+-------+-----------+-------+--------+-------------------+----+-----+--------+

+-------+---+----------+
|country|cnt|avg_income|
+-------+---+----------+
|     IN|  4|   64750.0|
|     US|  1|   43000.0|
|     UK|  1|   39000.0|
|     PK|  1|   52000.0|
|     AE|  1|   31000.0|
+-------+---+----------+

+---+------+-------+-----------+-------+--------+-------------------+----+-----+--------+----------------------+
| id|  name|country|signup_date| income|    plan|          signup_ts|year|month|is_india|income_rank_in_country|
+---+------+-------+-----------+-------+--------+-------------------+----+-----+--------+----------------------+
|  6| Farid|     AE| 2025-10-02|31000.0|   basic|2025-10-02 00:00:00|2025|   10|       0|                     1|
|  5|  Esha|     IN| 2025-10-02|85000.0| premium|2025-10-02 00:00:00|2025|   10|       1|                     1|
|  3|Carlos|     IN| 2025-09-27|72000.0| premium|2025-09-27 00:00:00|2025|    9|       1|                     2|
|  1| Alice|     IN| 2025-10-01|56000.0| premium|2025-10-01 00:00:00|2025|   10|       1|                     3|
|  7|  Gita|     IN| 2025-09-29|46000.0|standard|2025-09-29 00:00:00|2025|    9|       1|                     4|
|  8|Hassan|     PK| 2025-10-01|52000.0| premium|2025-10-01 00:00:00|2025|   10|       0|                     1|
|  4| Diana|     UK| 2025-09-30|39000.0|standard|2025-09-30 00:00:00|2025|    9|       0|                     1|
|  2|   Bob|     US| 2025-10-03|43000.0|standard|2025-10-03 00:00:00|2025|   10|       0|                     1|
+---+------+-------+-----------+-------+--------+-------------------+----+-----+--------+----------------------+

+---+------+-------+-----------+-------+--------+-------------------+----+-----+--------+----------------------+-------------+
| id|  name|country|signup_date| income|    plan|          signup_ts|year|month|is_india|income_rank_in_country|plan_priority|
+---+------+-------+-----------+-------+--------+-------------------+----+-----+--------+----------------------+-------------+
|  6| Farid|     AE| 2025-10-02|31000.0|   basic|2025-10-02 00:00:00|2025|   10|       0|                     1|            1|
|  5|  Esha|     IN| 2025-10-02|85000.0| premium|2025-10-02 00:00:00|2025|   10|       1|                     1|            3|
|  3|Carlos|     IN| 2025-09-27|72000.0| premium|2025-09-27 00:00:00|2025|    9|       1|                     2|            3|
|  1| Alice|     IN| 2025-10-01|56000.0| premium|2025-10-01 00:00:00|2025|   10|       1|                     3|            3|
|  7|  Gita|     IN| 2025-09-29|46000.0|standard|2025-09-29 00:00:00|2025|    9|       1|                     4|            2|
|  8|Hassan|     PK| 2025-10-01|52000.0| premium|2025-10-01 00:00:00|2025|   10|       0|                     1|            3|
|  4| Diana|     UK| 2025-09-30|39000.0|standard|2025-09-30 00:00:00|2025|    9|       0|                     1|            2|
|  2|   Bob|     US| 2025-10-03|43000.0|standard|2025-10-03 00:00:00|2025|   10|       0|                     1|            2|
+---+------+-------+-----------+-------+--------+-------------------+----+-----+--------+----------------------+-------------+

In [4]:
country_data = [
    ("IN", "Asia", 1.42), ("US", "North America", 0.33),
    ("UK", "Europe", 0.07), ("AE", "Asia", 0.01), ("PK", "Asia", 0.24),
]
country_schema = StructType([
    StructField("country", StringType(), True),
    StructField("region", StringType(), True),
    StructField("population_bn", FloatType(), True),
])
country_df = spark.createDataFrame(country_data, country_schema)

joined = df_udf.alias("u").join(country_df.alias("c"), on="country", how="left")
joined.show()

region_stats = (joined.groupBy("region", "plan")
                .agg(F.count("*").alias("users"),
                     F.round(F.avg("income"), 2).alias("avg_income"))
                .orderBy("region", "plan"))
region_stats.show()

+-------+---+------+-----------+-------+--------+-------------------+----+-----+--------+----------------------+-------------+-------------+-------------+
|country| id|  name|signup_date| income|    plan|          signup_ts|year|month|is_india|income_rank_in_country|plan_priority|       region|population_bn|
+-------+---+------+-----------+-------+--------+-------------------+----+-----+--------+----------------------+-------------+-------------+-------------+
|     PK|  8|Hassan| 2025-10-01|52000.0| premium|2025-10-01 00:00:00|2025|   10|       0|                     1|            3|         Asia|         0.24|
|     UK|  4| Diana| 2025-09-30|39000.0|standard|2025-09-30 00:00:00|2025|    9|       0|                     1|            2|       Europe|         0.07|
|     US|  2|   Bob| 2025-10-03|43000.0|standard|2025-10-03 00:00:00|2025|   10|       0|                     1|            2|North America|         0.33|
|     AE|  6| Farid| 2025-10-02|31000.0|   basic|2025-10-02 00:00:00|2025|   10|       0|                     1|            1|         Asia|         0.01|
|     IN|  5|  Esha| 2025-10-02|85000.0| premium|2025-10-02 00:00:00|2025|   10|       1|                     1|            3|         Asia|         1.42|
|     IN|  3|Carlos| 2025-09-27|72000.0| premium|2025-09-27 00:00:00|2025|    9|       1|                     2|            3|         Asia|         1.42|
|     IN|  1| Alice| 2025-10-01|56000.0| premium|2025-10-01 00:00:00|2025|   10|       1|                     3|            3|         Asia|         1.42|
|     IN|  7|  Gita| 2025-09-29|46000.0|standard|2025-09-29 00:00:00|2025|    9|       1|                     4|            2|         Asia|         1.42|
+-------+---+------+-----------+-------+--------+-------------------+----+-----+--------+----------------------+-------------+-------------+-------------+

+-------------+--------+-----+----------+
|       region|    plan|users|avg_income|
+-------------+--------+-----+----------+
|         Asia|   basic|    1|   31000.0|
|         Asia| premium|    4|   66250.0|
|         Asia|standard|    1|   46000.0|
|       Europe|standard|    1|   39000.0|
|North America|standard|    1|   43000.0|
+-------------+--------+-----+----------+

In [5]:
ml_df = joined.withColumn("label", (F.col("plan") == "premium").cast("int")).na.drop()
country_indexer = StringIndexer(inputCol="country", outputCol="country_idx", handleInvalid="keep")
country_fitted = country_indexer.fit(ml_df)
ml_df2 = country_fitted.transform(ml_df)

assembler = VectorAssembler(inputCols=["income", "country_idx", "plan_priority"], outputCol="features")
ml_final = assembler.transform(ml_df2)
train_df, test_df = ml_final.randomSplit([0.7, 0.3], seed=42)

lr = LogisticRegression(featuresCol="features", labelCol="label", maxIter=20)
lr_model = lr.fit(train_df)
preds = lr_model.transform(test_df)
preds.select("name", "country", "income", "plan", "label", "prediction", "probability").show(truncate=False)

evaluator = MulticlassClassificationEvaluator(labelCol="label", predictionCol="prediction", metricName="accuracy")
acc = evaluator.evaluate(preds)
print("Classification accuracy:", acc)

+------+-------+-------+--------+-----+----------+-----------------------------------------+
|name  |country|income |plan    |label|prediction|probability                              |
+------+-------+-------+--------+-----+----------+-----------------------------------------+
|Carlos|IN     |72000.0|premium |1    |1.0       |[5.631679339875724E-9,0.9999999943683207]|
|Diana |UK     |39000.0|standard|0    |0.0       |[0.9999997637769654,2.362230345775984E-7]|
+------+-------+-------+--------+-----+----------+-----------------------------------------+

Classification accuracy: 1.0

In [6]:
output_path = "/content/spark_users_parquet"
joined.write.mode("overwrite").parquet(output_path)
parquet_df = spark.read.parquet(output_path)
print("Parquet reloaded:")
parquet_df.show()

recent = spark.sql("""
SELECT name, country, income, signup_ts
FROM users
WHERE signup_ts >= '2025-10-01'
ORDER BY signup_ts DESC
""")
recent.show()

recent.explain()
spark.stop()

Parquet reloaded:
+-------+---+------+-----------+-------+--------+-------------------+----+-----+--------+----------------------+-------------+-------------+-------------+
|country| id|  name|signup_date| income|    plan|          signup_ts|year|month|is_india|income_rank_in_country|plan_priority|       region|population_bn|
+-------+---+------+-----------+-------+--------+-------------------+----+-----+--------+----------------------+-------------+-------------+-------------+
|     PK|  8|Hassan| 2025-10-01|52000.0| premium|2025-10-01 00:00:00|2025|   10|       0|                     1|            3|         Asia|         0.24|
|     UK|  4| Diana| 2025-09-30|39000.0|standard|2025-09-30 00:00:00|2025|    9|       0|                     1|            2|       Europe|         0.07|
|     US|  2|   Bob| 2025-10-03|43000.0|standard|2025-10-03 00:00:00|2025|   10|       0|                     1|            2|North America|         0.33|
|     AE|  6| Farid| 2025-10-02|31000.0|   basic|2025-10-02 00:00:00|2025|   10|       0|                     1|            1|         Asia|         0.01|
|     IN|  5|  Esha| 2025-10-02|85000.0| premium|2025-10-02 00:00:00|2025|   10|       1|                     1|            3|         Asia|         1.42|
|     IN|  3|Carlos| 2025-09-27|72000.0| premium|2025-09-27 00:00:00|2025|    9|       1|                     2|            3|         Asia|         1.42|
|     IN|  1| Alice| 2025-10-01|56000.0| premium|2025-10-01 00:00:00|2025|   10|       1|                     3|            3|         Asia|         1.42|
|     IN|  7|  Gita| 2025-09-29|46000.0|standard|2025-09-29 00:00:00|2025|    9|       1|                     4|            2|         Asia|         1.42|
+-------+---+------+-----------+-------+--------+-------------------+----+-----+--------+----------------------+-------------+-------------+-------------+

+------+-------+-------+-------------------+
|  name|country| income|          signup_ts|
+------+-------+-------+-------------------+
|   Bob|     US|43000.0|2025-10-03 00:00:00|
|  Esha|     IN|85000.0|2025-10-02 00:00:00|
| Farid|     AE|31000.0|2025-10-02 00:00:00|
| Alice|     IN|56000.0|2025-10-01 00:00:00|
|Hassan|     PK|52000.0|2025-10-01 00:00:00|
+------+-------+-------+-------------------+

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Sort [signup_ts#955 DESC NULLS LAST], true, 0
   +- Exchange rangepartitioning(signup_ts#955 DESC NULLS LAST, 4), ENSURE_REQUIREMENTS, [plan_id=7722]
      +- Project [name#919, country#920, income#922, cast(signup_date#921 as timestamp) AS signup_ts#955]
         +- Filter (isnotnull(signup_date#921) AND (cast(signup_date#921 as timestamp) >= 2025-10-01 00:00:00))
            +- Scan ExistingRDD[id#918,name#919,country#920,signup_date#921,income#922,plan#923]